.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  border-radius: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.align-on-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-text-left {
  text-align: left;
}

.link-button {
  background: none!important;
  border: none;
  color: -webkit-link;
  text-decoration: underline;
  cursor: pointer;
}

.orders-table {
  width: 80%;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.available {
  background-color: #bbb;
}

.colspan-row {
  display: table-cell;
  text-align: center;
}